.about
    p.text-middle От автора
    .about-content
        p.text-small Мне очень нравится специальность фронтенд-разработчика.Мне очень нравится специальность фронтенд-разработчика.Мне очень нравится специальность фронтенд-разработчика.Мне очень нравится специальность фронтенд-разработчика.Мне очень нравится специальность фронтенд-разработчика.