.portfolio
    p.text-middle Портфолио
    .portfolio-content
        .work
            img.portfolio-img(src='../assets/images/02.jpg')
            .portfolio-text
                .work-name Choosing The Right Path
                .work-description Requiring the individual to remember what not to think of infers that they have already thought it. Although this is well intentioned and the goal certainly is to reduce the quantity of these bothersome thoughts
        .work
            img.portfolio-img.portfolio-img-right.mobile(src='../assets/images/02.jpg')
            .portfolio-text-left         
                .work-name.portfolio-left Choosing The Right Path
                .work-description.portfolio-left Requiring the individual to remember what not to think of infers that they have already thought it. Although this is well intentioned and the goal certainly is to reduce the quantity of these bothersome thoughts
            img.portfolio-img.portfolio-img-right.top(src='../assets/images/02.jpg')
            //- img.portfolio-img.portfolio-img-right(src='../assets/images/02.jpg')
        .work
            img.portfolio-img(src='../assets/images/02.jpg')
            .portfolio-text
                .work-name Choosing The Right Path
                .work-description Requiring the individual to remember what not to think of infers that they have already thought it. Although this is well intentioned and the goal certainly is to reduce the quantity of these bothersome thoughts