.projects
    p.text-middle Мини-проекты для практики
    p.text-small Failure will never overtake me if my determination to succeed is strong enough
    .projects-gallery
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        
