.skills
    p.text-middle Технические навыки
    .skills-content
        img.skill-img(src='../assets/images/octocat.png')
        img.skill-img(src='../assets/images/css.png')
        img.skill-img(src='../assets/images/js.jpg')
        img.skill-img(src='../assets/images/webpack.svg')
        img.skill-img(src='../assets/images/octocat.png')

        